.navigatorWrapper {
  padding: 16px !important;
  border-radius: 8px !important;
  background-color: white !important;
  border: 1px solid #E2E8F0 !important;
}

.navigatorTitle {
  font-weight: 800 !important;
  margin-bottom: 16px !important;
}

.paletteGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.paletteButton {
  flex: 0 0 calc(25% - 6px); // Gap is 8px. (8px * 3) / 4 = 6px per item reduction for 4 items
  aspect-ratio: 1/1;
  border-radius: 4px !important;
  padding: 0 !important;
  font-size: 0.875rem !important;
  font-weight: 700 !important;
  box-shadow: none !important;
}

.btnCurrent {
  background-color: #1CB068 !important;
  border-color: #1CB068 !important;
  color: white !important;
}

.btnAnswered {
  background-color: rgba(16, 185, 129, 0.1) !important;
  color: #065F46 !important;
  border-color: #6EE7B7 !important;

  &:hover {
    background-color: #10B981 !important;
    color: white !important;
  }
}

.legendStack {
  margin-top: 16px !important;
}

.legendItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.dotActive {
  background-color: #1CB068;
}

.dotAnswered {
  background-color: rgba(16, 185, 129, 0.15);
  border: 1px solid #10B981;
}

.dotUnvisited {
  border: 1px solid #E2E8F0;
}

.legendText {
  font-weight: 600 !important;
  font-size: 0.75rem !important;
}